nav{
    position: fixed;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 999;
}
nav a img{
    width: 4vw;
    object-fit: contain;
}
nav a:hover,.active{
    scale: 1.5;
    transform: translateY(-10px);
}
.pending{
    scale: 0.5;
}